<div class="w-full mx-auto flex flex-col justify-center">
  <h2 class="text-center mt-0">Shopping List</h2>

   <div class="flex justify-between">
    <p>
      Amount of Food items to buy: <%= @total_missing_items %>
    </p>

    <p>
      Total value of food needed: $<%= @total_price %>
    </p>
  </div>


  <table class="table-auto w-full border border-black">
    <thead class="font-medium dark:bg-neutral-300">
      <tr>
        <th class="px-4 py-2 text-center">Food</th>
        <th class="px-4 py-2 text-center">Quantity</th>
        <th class="px-4 py-2 text-center">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @missing_foods.each.with_index do |food, index| %>
      <tr class="<%= cycle('dark:bg-neutral-100', '') %>">
        <td class="px-4 py-2 text-center"><%= food[:name] %></td>
        <td class="px-4 py-2 text-center"><%= food[:quantity] %></td>
        <td class="px-4 py-2 text-center"><%= number_to_currency(food[:price]) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
